body, a {
  font-family: 'Rubik', sans-serif;
  color: #faebd7;
}



h1 {
  text-transform: uppercase;
}

.button{
  background: transparent;
  color: white;
  padding: 10px;
  width: 150px;
  border: 2px solid #FFFFFF;
}
.jumbotron{
    margin-top: 100px;
    background-image: url('hud.jpg');
}

